In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import functools
import scipy.signal
import tsfresh

from tqdm import tqdm

In [ ]:
%%time

filepath = '/home/sergey/Projects/Kaggle/LANL-Earthquake-Prediction/train.csv'

df = pd.read_csv(filepath, 
                 dtype={"acoustic_data": np.int16, "time_to_failure": np.float32}, 
                 skiprows=1, 
                 names=['s', 'ttf'])

In [ ]:
filepath = '/home/sergey/Projects/Kaggle/LANL-Earthquake-Prediction/train/train.h5'

df.to_hdf(filepath, key='table')

In [2]:
filepath = '/home/sergey/Projects/Kaggle/LANL-Earthquake-Prediction/train/train.h5'

df = pd.read_hdf(filepath, key='table')

In [3]:
def window_decorator(window_size=10000):
    def window_calc(func):
        @functools.wraps(func)
        def wrapper(*args, **kwargs):
            temp = []
            df = args[0]
            array_size = df.shape[0]
            for i in tqdm(range(0, array_size, window_size)):
                batch = df.iloc[i: i+window_size].values
                temp.append(func(batch, *args, **kwargs))
            return pd.DataFrame(temp, columns={func.__name__})
        return wrapper
    return window_calc

In [4]:
@window_decorator()
def w_psd(df, *args, **kwargs):
    return np.sum(scipy.signal.periodogram(df, kwargs['fs'])[1])

@window_decorator()
def w_mean(df, *args, **kwargs):
    return np.mean(df)

@window_decorator()
def w_std(df, *args, **kwargs):
    return np.std(df)

@window_decorator()
def w_min(df, *args, **kwargs):
    return np.min(df)

@window_decorator()
def w_max(df, *args, **kwargs):
    return np.max(df)

@window_decorator()
def w_min(df, *args, **kwargs):
    return np.min(df)

@window_decorator()
def w_abs_energy(df, *args, **kwargs):
    return tsfresh.feature_extraction.feature_calculators.abs_energy(df)

@window_decorator()
def w_binned_entropy(df, *args, **kwargs):
    return tsfresh.feature_extraction.feature_calculators.binned_entropy(df, kwargs['max_bins'])

1 2 3

In [ ]:
def get_df_train(df, func_list):
    
    return pd.concat([func(df['s']) for func in func_list], axis=1)

In [14]:


df_temp = pd.concat([w_mean(df['s']), w_min(df['s']), w_psd(df['s'])], axis=1)
df_temp

100%|██████████| 62915/62915 [00:05<00:00, 12453.00it/s]
100%|██████████| 62915/62915 [00:04<00:00, 13693.71it/s]

         w_mean  w_min
0      5.182000    -98
1      4.917400    -23
2      4.935700    -16
3      4.961500    -24
4      4.813900    -35
5      4.764700    -19
6      5.152700    -56
7      5.182300    -28
8      5.061300    -37
9      5.187900    -32
10     4.809900    -11
11     4.768200    -21
12     4.534300    -16
13     4.314300    -11
14     4.675600    -16
15     4.777200    -23
16     4.624900   -154
17     4.538700    -14
18     4.686900    -36
19     4.864300    -27
20     4.766700   -150
21     4.561100    -40
22     4.791700    -12
23     4.590500    -15
24     4.742800    -37
25     4.812500    -49
26     4.800100    -38
27     4.688800   -115
28     4.725900    -25
29     4.914400    -24
...         ...    ...
62885  4.463000    -11
62886  4.366800    -24
62887  4.480200    -26
62888  4.360100    -24
62889  4.324400    -18
62890  4.334800    -97
62891  4.559400    -32
62892  4.364600     -9
62893  4.489600    -29
62894  4.669600    -64
62895  4.806300    -20
62896  4.614900     -6
62897  4.648700     -5
62898  4.509900    -10
62899  4.652700     -5
62900  4.580900    -26
62901  4.593300    -17
62902  4.377300    -21
62903  4.629000    -12
62904  4.330400    -11
62905  4.323900     -9
62906  4.516200    -66
62907  4.515700     -7
62908  4.349800    -27
62909  4.327000    -31
62910  4.345900    -33
62911  4.506100     -7
62912  4.650200    -18
62913  4.715700     -6
62914  4.642883    -13

[62915 rows x 2 columns]

In [ ]:
w_abs_energy(df['s'])

In [ ]:
w_psd(df['s'])

In [ ]:
w_std(df['s'])

In [25]:
from inspect import getmembers, isfunction

functions_list = [o for o in getmembers(tsfresh.feature_extraction.feature_calculators) if isfunction(o[1])]
t = functions_list[4][1]

14